@import "style.css";
@import "menu.css";

/* setup &  resuable stylings */
.team-img img{
    width: 100%;
    display: block;
}

.team-info li{
    list-style-type: none;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    padding: 0.3rem 0;
    line-height: 1.7;
}
.padding-y{
    padding: 6rem 0;
}

/* team */
.team-row{
    margin: 2rem 0;
}
.team-item{
    margin-bottom: 1.5rem;
}
.team-img{
    position: relative;
    overflow: hidden;
}

.team-info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: var(--snow);
    padding: 1rem 0;
    transform: translateY(35%);
    transition: var(--transition);
}
.team-info h3{
    font-size: 1.6rem;
    color: var(--dimGray);
}
.team-info .text{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    color: var(--max-red);
}
.team-info ul{
    margin-top: 1rem;
}
.team-info ul li{
    background: var(--nero);
    margin: 0 0.4rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: var(--transition);
}
.team-info ul li:hover{
    background: var(--max-red);
}
.team-info ul li a{
    color: #fff;
}

.team-item:hover .team-info{
    transform: translateY(0);
}

/* #### Media Queries #### */

@media screen and (max-width: 480px){
    /* Visi & Misi*/
    .visi-row, .misi-row{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .visi-row .col, .misi-row .col{
        margin-top: 15px;
    }

    .row-cols-2>*{
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    /* Visi & Misi*/
    .visi-row, .misi-row{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .visi-row .col, .misi-row .col{
        margin-top: 15px;
    }

    .row-cols-2>*{
        width: 100%;
    }
}

@media screen and (min-width: 768px){

    /* team */
    .team-item{
        margin-bottom: 0;
    }
    .team-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 1200px){
    /* team */
    .team-row{
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
    }
    
}