.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact.padding-y{
    padding-bottom: 0;
}
.contact-form{
    padding: 0.6rem 0;
}
.form-control{
    width: 100%;
    color: var(--dimGray);
    font-size: 1rem;
    font-weight: 200;
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    padding: 0.7rem;
    margin-bottom: 1.2rem;
    outline: 0;
}
.form-control:focus{
    border-color: var(--dimGray);
}
.form-submit-btn{
    background: #A52A2A;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.85rem 0;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.form-submit-btn:hover{
    background: #D62828;
}

.table td a{
    color: black;
}